<html>
<head>
    <title>Stack the Containers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/scanlines.css">
    <style>
      .hacker {
          background-color: black;
          color: #dddddd;
          text-align: center;
      }
      .daylight {
          background-color: white;
          color: black;
          text-align: center;
      }
      .logo {
          font-size: 40px;
          font-weight: bold;
          font-family: monospace;
          text-shadow: 0px 0px 3px #fff, 0px 0px 10px #fff;
      }
      .console {
          font-size: 16px;
          font-family: monospace;
          white-space: nowrap;
          text-overflow: clip;
      }
      .glow {
        background: #616AFF;
        opacity: 0;
      }
      .highscore {
        font-size: 20px;
      }
      .logo {
        text-align: center;
      }
    </style>
</head>
<body class="hacker console scanlines">
  <script type="text/javascript" src="/js/socket.io.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/animate.js"></script>
  <script type="text/javascript" charset="utf-8">
    /* --------------------------------------------------------- */
    /* Cool inline hacking for websockets ;-)                    */
    /* --------------------------------------------------------- */
    var ping = Date.now();
    var timeout = 10000;

    /* --------------------------------------------------------- */
    /* watchDog will check if the websocket connection is still  */
    /* alive, and if not reestablisch the connection.            */
    /* --------------------------------------------------------- */
    function watchDog() {
      if (!isConnected()) {
        console.log( 'ping timeout' );
        connect();
      }
      window.setTimeout( function() { watchDog() }, timeout+1000);
    }; watchDog(); /* start the watchdog... */

    /* --------------------------------------------------------- */
    /* isConnected will check if we recently received a ping     */
    /* from the server.                                          */
    /* --------------------------------------------------------- */
    function isConnected() {
        return ( (Date.now()-ping) < timeout );
    }

    /* --------------------------------------------------------- */
    /* websocket handling and events                             */
    /* --------------------------------------------------------- */
    var socket;
    function connect() {
      socket = io.connect( undefined, {
          reconnection: true,
          reconnectionDelay: 1000,
          reconnectionDelayMax : 5000,
          reconnectionAttempts: Infinity
        } );
    }; connect();

    socket.on( 'connect', function () {
        console.log( 'connected to server' );
    } );

    socket.on( 'disconnect', function () {
      console.log( 'disconnected from server' );
      window.setTimeout( 'connect()', timeout );
    } );

    socket.on( 'ping', function (data) {
      ping = Date.now();
    } );

    /* --------------------------------------------------------- */
    /* websocket custom events                                   */
    /* --------------------------------------------------------- */
    socket.on('topic_newgame', function(msg) {
      try {
        console.log(msg);
        $('#newgame').text(JSON.parse(msg).name+" started a game");
        glow("newgame");
      } catch(e) { console.log(e); };
    });

    socket.on('topic_connect', function(msg) {
      try {
        console.log(msg);
        $('#connect').text(JSON.parse(msg).name+" connected");
        glow("connect");
      } catch(e) { console.log(e); };
    });

    socket.on('topic_disconnect', function(msg) {
      try {
        console.log(msg);
        $('#disconnect').text(JSON.parse(msg).name+" disconnected");
        glow("disconnect");
      } catch(e) { console.log(e); };
    });

    socket.on('topic_score', function(msg) {
      try {
        console.log(msg);
        d = JSON.parse(msg);
        $('#score').text(d.name+" scored "+d.score);
        glow("score");
      } catch(e) { console.log(e); };
    });

    socket.on('topic_highscore', function(msg) {
      try {
        console.log(msg);
        scores = "";
        el = 1;
        JSON.parse(msg).forEach(function(s) {
          $('#highscore'+el+'name').text(s.name);
          $('#highscore'+el+'score').text(s.score);
          el++;
        });
      } catch(e) { console.log(e); };
    });

    /* --------------------------------------------------------- */
    /* supacool fx                                               */
    /* --------------------------------------------------------- */
    function glow(id) {
        el = document.getElementById(id);
        animate({
          el: el,
          duration: 2000,
          delay: index => index * 100,
          opacity: [0,1,0],
          easing: "linear"
        });
    }
    /* --------------------------------------------------------- */
  </script>

  <div class="container">
    <div class="logo">STACK THE CONTAINERS</div>
  </div>

  <div class="container">&nbsp;</div>

  <div>
    <span class-"highscore">1.</span>
    <span id="highscore1name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore1score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">2.</span>
    <span id="highscore2name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore2score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">3.</span>
    <span id="highscore3name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore3score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">4.</span>
    <span id="highscore4name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore4score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">5.</span>
    <span id="highscore5name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore5score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">6.</span>
    <span id="highscore6name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore6score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">7.</span>
    <span id="highscore7name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore7score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">8.</span>
    <span id="highscore8name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore8score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">9.</span>
    <span id="highscore9name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore9score" class="highscore">&nbsp;</span>
  </div>
  <div>
    <span class-"highscore">10.</span>
    <span id="highscore10name" class="highscore">&nbsp;</span>
    <span class-"highscore">-</span>
    <span id="highscore10score" class="highscore">&nbsp;</span>
  </div>

  <div class="container">&nbsp;</div>

  <div id="connect" class="glow">&nbsp;</div>
  <div id="newgame" class="glow">&nbsp;</div>
  <div id="score" class="glow">&nbsp;</div>
  <div id="disconnect" class="glow">&nbsp;</div>

  <div class="container">&nbsp;</div>

  <div class="logo"><img alt="HCS Company" src="/img/hcs-logo-black.png"></div>

</body>
</html>
